<%= form_with(model: fog, local: true) do |form| %>
  <% if fog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fog.errors.count, "error") %> prohibited this fog from being saved:</h2>

      <ul>
        <% fog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :words %>
    <%= form.text_area :words %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
