<%= form_with(model: fog, html: {:class => 'row g-3' }, local: true) do |form| %>
  <% if fog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fog.errors.count, "error") %> prohibited this fog from being saved:</h2>

      <ul>
        <% fog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline">
    <%= form.label :name, :class => 'form-label' %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-outline">
    <%= form.label :words, :class => 'form-label' %>
    <%= form.text_area :words, :class => 'form-control' %>
  </div>

  <div class="form-outline">
    <%= form.submit nil, :class => 'btn-primary', :style=>'color:#FFFFFF;' %>
  </div>
<% end %>
